<div class="login-box">
            <h1>Login</h1>
            <form method="post" action="/auth/login">
                <label>Email</label>
                <input type="text" placeholder="Email.." id="email" name="email" value="{{body.email}}">
                <label>Password</label>
                <input type="password" placeholder="Password.." name="password">
                <input type="submit" value="Submit">
            </form>
            <p>Not have an account? <a href="/auth/register">Register here</a></p>
        </div>